doctype 5
html(lang = 'en')
  head
    title MCASta.net
    link(rel = 'stylesheet', type = 'text/css', href='style.css')
    script(src = 'http://code.jquery.com/jquery-1.9.1.min.js')
  body
    #questions
      .question
        img(src='http://i.imgur.com/#{imgur}.png')
      .buttons
        button.A(value = 'A') A
        button.B(value = 'B') B
        button.C(value = 'C') C
        button.D(value = 'D') D
    #footer
      p Questions courtesy of the Massachusetts Department of Elementary and Secondary Education

    script
      function answerQuestion(){
        $("button").attr('disabled', true);
        $.post("/", {answer: this.value}, function(data){
          $('button.'+data.correctAnswer).css('background', "green");
          if (data.correctAnswer != data.userAnswer){
            $('button.'+data.userAnswer).css('color', "red");
          };
          $("button").removeClass();
          $("#questions").append('<div class="question"><img src="http://i.imgur.com/'+data.nextImgur+'.png"></div><div class="buttons"><button class="A" value="A">A</button><button class="B" value="B">B</button><button class="C" value="C">C</button><button class="D" value="D">D</button></div>');
          $("button").click(answerQuestion);
        });
      }
      $("button").click(answerQuestion);

    script(type = 'text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38333907-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
