doctype 5
html(lang = 'en')
  head
    title MCASta.net
    link(rel = 'stylesheet', type = 'text/css', href='style.css')
    script(src = 'http://code.jquery.com/jquery-1.9.1.min.js')
  body
    #content
      .question
        img(src='http://i.imgur.com/#{imgur}.png')
      .buttons
        button(value = 'A') A
        button(value = 'B') B
        button(value = 'C') C
        button(value = 'D') D
      p Questions courtesy of the Massachusetts Department of Elementary and Secondary Education

    script
      $("button").click(function(){
        $.post("/", {answer: this.value}, function(data){
          alert(data);
        });
      })

    script(type = 'text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38333907-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
