doctype 5
html(lang = 'en')
  head
    title MCASta.net
  body
    center
      img(src='http://i.imgur.com/#{imgur}.png')


    script (type = 'text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38333907-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
