doctype 5
html(lang = 'en')
  head
    title MCASta.net
    link(rel = 'stylesheet', type = 'text/css', href='/style.css')
    script(src = 'http://code.jquery.com/jquery-1.9.1.min.js')
  body
    #questions
      .question
        img(src='http://i.imgur.com/#{imgur}.png')
      .buttons
        button.A(value = 'A') ○ A
        button.B(value = 'B') ○ B
        button.C(value = 'C') ○ C
        button.D(value = 'D') ○ D
    #footer
      p Questions courtesy of the Massachusetts Department of Elementary and Secondary Education

    script
      var localImgur = '#{imgur}';
      function answerQuestion(){
        $("button").attr('disabled', true);
        $.post("/", {answer: this.value, imgur: localImgur}, function(data){
          localImgur = data.nextImgur;
          $('button.'+data.correctAnswer).addClass('correct');
          if (data.correctAnswer != data.userAnswer){
            $('button.'+data.userAnswer).addClass('incorrect');
          };
          $("button").removeClass('A B C D');
          $("#questions").append('<div>That was a grade '+data.oldGrade+' question from '+data.oldYear+'.You could <a href="/do/'+data.oldID+'">discuss it</a>.</div>');
          $("#questions").append('<center><table><tr><td></td><td>Grade 3</td><td>Grade 4</td><td>Grade 5</td><td>Grade 6</td><td>Grade 7</td><td>Grade 8</td><td>Grade 10</td></tr><tr><td>correct</td><td>'+data.corrects[3]+'</td><td>'+data.corrects[4]+'</td><td>'+data.corrects[5]+'</td><td>'+data.corrects[6]+'</td><td>'+data.corrects[7]+'</td><td>'+data.corrects[8]+'</td><td>'+data.corrects[10]+'</td></tr><tr><td>attempts</td><td>'+data.attempts[3]+'</td><td>'+data.attempts[4]+'</td><td>'+data.attempts[5]+'</td><td>'+data.attempts[6]+'</td><td>'+data.attempts[7]+'</td><td>'+data.attempts[8]+'</td><td>'+data.attempts[10]+'</td></tr></table></center><hr />');

          $("#questions").append('<div class="question"><img src="http://i.imgur.com/'+data.nextImgur+'.png"></div><div class="buttons"><button class="A" value="A">○ A</button><button class="B" value="B">○ B</button><button class="C" value="C">○ C</button><button class="D" value="D">○ D</button></div>');
          $("button").click(answerQuestion);
        });
      }
      $("button").click(answerQuestion);

    script(type = 'text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38333907-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
