doctype 5
html(lang = 'en')
  head
    title MCASta.net
    link(rel = 'stylesheet', type = 'text/css', href='/style.css')
    script(src = 'http://code.jquery.com/jquery-1.9.1.min.js')
  body
    header
      <img src="http://www.clker.com/cliparts/8/f/2/0/1237915437814796939papapishu_Castanets.svg.med.png" height='180px' />
      #theM M
      #welcome
        p This is a Massachusetts Comprehensive Assessment System (MCAS) question. You can answer it, or answer a lot more like it at <a href="http://mcasta.net/">MCASta.net</a>. You can also comment on the question below, or share it with your friends. For anything else, tweet at <a href="https://twitter.com/MCASTAdotNET">MCASTAdotNET</a>.
    #questions
      .question
        img(src='http://i.imgur.com/#{imgur}.png')
      .buttons
        button.A(value = 'A') ○ A
        button.B(value = 'B') ○ B
        button.C(value = 'C') ○ C
        button.D(value = 'D') ○ D
    #disqus_thread
    footer
      p Question courtesy of the Massachusetts Department of Elementary and Secondary Education

    script
      function answerQuestion(){
        $("button").attr('disabled', true);
        $.post("/", {answer: this.value, imgur: '#{imgur}'}, function(data){
          $('button.'+data.userAnswer).html('● '+data.userAnswer);
          $('button.'+data.correctAnswer).addClass('correct');
          if (data.correctAnswer != data.userAnswer){
            $('button.'+data.userAnswer).addClass('incorrect');
          };
          $("button").removeClass('A B C D');
          $("#questions").append('<div class="summary">That was a grade '+data.oldGrade+' question from '+data.oldYear+'.</div>');
        });
      }
      $("button").click(answerQuestion);


    script(type = 'text/javascript')
      var disqus_shortname = 'mcastanet';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();


    script(type = 'text/javascript')
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38333907-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
